input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40px repeat(5 1fr);
  grid-gap: 0px;
  max-width: calc(20px * 5 + 1px * 4);
  margin-top: 25px;
}

.grid-item {
  border: 1px solid #D9D9D9;
  width: 50px;
  height: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  
  height: 80px;
  width: 480px;

  padding: 10px 30px;
  border-radius: 5px;

  background-color: #F1F1F1;
}

.nav-input-container {
  display: flex;

  padding-bottom: 12px;
}

.input-row, .input-column {
  height: 28px;
  width: 55px;

  text-align: center; 
  padding: 0;
  margin: 0;

  border-radius: 5px;
  border: 0.5px solid #EDEDED
}

.row-container, .column-container{
  display: flex;
  flex-direction: column;

  padding-bottom: 16px;


}

.nav-button {
  height: 30px;
  width: 92px;

  margin-left: 23px;

  border: none;
  border-radius: 5px;

  color: #ffff;
  background-color: #4A90E2;
}

.nav-button:hover {
  background-color: #76B5FF;
}
.nav-button:active{
  background-color: #235896;
}

.inputs-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-right: 10px;
}

.separator-x {
  padding: 0 10px;
}
.main-logo {
  margin-bottom: 38px;
}


